<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <p>Are you ready, @Model.CollectiveNoun ? <br> Aye-aye, Captain! <br> I can't hear you! <br> Aye-aye, Captain! <br> ohhh.. <br> Who lives in a @Model.Thing under the sea? <br> @Model.KitchenUtensil @Model.Name @Model.Shape @Model.ClothingItem! <br> Absorbant and @Model.Color and porous is he! <br> @Model.KitchenUtensil @Model.Name @Model.Shape @Model.ClothingItem! <br> If nautical nonsense be something you wish! <br> @Model.KitchenUtensil @Model.Name @Model.Shape @Model.ClothingItem! <br> Then drop on the deck and flop like a @Model.SeaCreature! <br> @Model.KitchenUtensil @Model.Name @Model.Shape @Model.ClothingItem! <br> Ready? <br> @Model.KitchenUtensil @Model.Name @Model.Shape @Model.ClothingItem! <br> @Model.KitchenUtensil @Model.Name @Model.Shape @Model.ClothingItem! <br> @Model.KitchenUtensil @Model.Name @Model.Shape @Model.ClothingItem! <br> @Model.KitchenUtensil @Model.Name @Model.Shape @Model.ClothingItem! <br> Ah, ah, ah, ah!</p>  
  </body> 
</html>